@CHARSET "UTF-8";

.bgimg {
  	background-image: url('bg_game.png');
 	background-repeat: no-repeat;
 	background-size: 100%;
 	width: auto;
 	height: 600px;
 	margin: 10px;
}
 
.bgimgBig {
  	background-image: url('bg_game.png');
 	background-repeat: no-repeat;
 	background-size: 100%;
 	width: 900px;
 	height: 875px;
 	border-radius: 3%;
}

.outerRepeater {
	width: 100%;
 }
 
.innerRepeaterWithBorder {	
	height: 100%;
	width: 100%;
	border-style: dashed;
	border-width: 1px;
	border-color: green;
	}
	
.innerRepeater{	
	height: 100%;
	width: 33.3%;
	}
	
.attrClass{
	position: relative;
	font-size: 75%;
	color: white;
	height: 40%;
	width: 65%;
}
  
 .innerRepeaterSmall {	
	height: 100%;
	width: 16.5%;
  }
  
span {
 	display: inline-block;
}
  
.cellItem {	
	border-style: dashed;
	border-width: 1px;
	border-color: green;
  
}
  
.card {
	background: white; 
	width: 70%; 
	height: 100%; 
	position: absolute;
	font-size: 75%;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	border-radius: 8px;
	word-wrap: break-word;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.cardLabel {
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
}

.systemMessageContainer{
	width: 80%;
	height: 50px;
	background-color: #F2F2F2;
	float: left;
	overflow-y: scroll;
	border:1px solid black;
	border-radius: 5px;
	padding: 5px;
}

.cardLogo {
	top: 50%;
	transform: translateY(-50%);
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	width: 50%;
	border-radius: 100%;
	background: #FF7F00;
}

.pileSpace {
	float: left; 
	width: 50%; 
	height: 100%; 
	position: relative;
}


.handClass {
	position: absolute;
	top: 66.6%;
	display: block;
	height: 33.3%;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}


.fieldPanel {
	position: relative;
	height: 100%;
	width: 75%;
	padding: 0;
	margin: 0 auto;
}

.buffPanel {
	position: absolute;
	display: block;
	top:0px;
	left:0px;
	height: 33.3%;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.penaltyPanel{
	position: absolute;
	display: block;
	height: 33.3%;
	top: 33.3%;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.cardBack{
	background-image: url('cardLogo.png');  
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

.cardSelected{
	border-style: solid;
	border-width: 2px;
	border-color: green;
}

.cardUnselected{
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

.eventPanel{
	position: relative;
	height: 190%;
	width: 100%;
	transform: translateY(-50%);
}

.gameMessage{
	position: absolute;
	width: 70%;
	height: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	 background: rgba(255, 255, 255, 0.6);
	word-wrap: break-word;
	right: -40%;
}