#filterPageWrapper {
	
	padding-bottom:4%;
	
}

#table-wrap {
	position:relative; 
	width:100%; 
	border: 2px solid black; 
	border-collapse:collapse;
	margin-top:1%;
}

#table-scrl {
	height:180px; 
	overflow:auto; 
	margin-top:0px;
}

.rows{
	margin:2%;
	
	
}

.buttonsPlayers{
	width:30px;
	height:20px;
	margin:0 1%;
}

.buttonsState{
	width:80px;
	height:20px;
	margin:0 1%;
}

.buttonsType{
	width:80px;
	height:20px;
	margin:0 1%;
}

.playersForm {
	display:inline;
}

.stateForm {
	display:inline;
}

.typeForm {
	display:inline;
}

#controlsForm{
	float:right;
	
	
	
}
.buttonsControls{
	width:100px;
	height:30px;
	margin-bottom:1%;
	
}

#controls{
	position:relative;
	float:right;
    margin: 1% 0px 50px 0px;

}

