#table-wrapper {
	position:relative; 
	width:100%; 
	border: 2px solid black; 
	border-collapse:collapse;
	margin:1%;
	padding: 1%;
}

#table-scroll {
	height:200px; 
	overflow:auto; 
	margin-top:0px;
}

#single-player-div {
	height:auto; 
	width:60px; 
	border: 1px solid black; 
	margin: 10px;
	padding: 10px;
}
