.header2 , h3, .header4 {
    text-align: center;
}

#this, #marg {
    text-align: left;
    margin:2%;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
}

li ol > li {
    margin: 0;
}

li ol > li:before {
    content: counters(item, ".") " ";
}
body {
    background-color: #ebecef;
    min-width: 800px;
}

#center{
    margin:2%;
    height:auto;
    border : 1px solid darkgrey;


}

#navi , #text{
    float:left;
    display: inline;


}

#navi {

    width:25%;
    height:100%;


}

#inhalt {
    margin: 2%;
}

#text {
    width:74%;
    height:100%;
    overflow: auto;
    border-left:2px solid darkgrey;


}

#inhalt_text {
    margin:2%;
}

a {
    text-decoration:  none !important;
    color: black;
}

a:visited{
    text-decoration: none !important;
    color: black;
}

.b {
    font-weight: bold;
}

.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.black {
    background-color: black;
    color:white;
}
.blue {
    background-color: blue;
}
.magenta {
    background-color: magenta;
}