#table-wrapper {
	position:relative; 
	width:auto; 
	border: 2px solid black; 
	border-collapse:collapse;
	margin-top:1%;
}

#table-scroll {
	height:200px; 
	overflow:auto; 
	margin-top:0px;
}

table {
	width:100%;

}

#gameStateTH{
	width:15%; 
	border-bottom: 2px solid black; 
	border-right: 2px solid black; 
	border-collapse:collapse;
				       	
}

.selectedGame {
	background-color:blue;
}
#gameNameTH {
	width:50%; 
	border-bottom: 2px solid black; 
	border-right: 2px solid black; 
	border-collapse:collapse;
}

#gamePlayersTH{
width:20%; 
border-bottom: 2px solid black; 
border-right: 2px solid black; 
border-collapse:collapse;
}

#gamePrivacyTH{
	 width:15%; 
	 border-bottom: 2px solid black; 
	 border-collapse:collapse;
}

#gameState{
	width:15%; 
	border-right: 2px solid black;
}

#gameName {
	 width:50%; 
	 border-right: 2px solid black;
}

#gamePlayers {
	width:20%; 
	border-right: 2px solid black;
}

#gamePrivacy {
	width:15%;
}

#extra1 {
	width:15%; 
	height:200px; 
	border-right: 2px solid black;
}

#extra2 {
	width:50%; 
	height:200px; 
	border-right: 2px solid black;
}

#extra3 {
	width:20%; 
	height:200px;
	border-right: 2px solid black;
}

#extra4 {
	width:15%; 
	height:200px;
}

.button {
	height:30px; 
	width:100px;
}

