div.main {
	width: 70%;
	height: 100%;
	float: left;
}

div.chat {
	width: 29%;
	height: 300px;
	float: left;	
}

div.messageContainer{
	width: 80%;
	height: 200px;
	background-color: #F2F2F2;
	float: left;
	overflow-y: scroll;
	border:1px solid black;
	border-radius: 5px;
	padding: 5px;
}

#invitation{
	background-color: #DADDEA;
}