#UserNameTH{
	border-bottom: 2px solid black; 
	border-right: 2px solid black; 
	border-collapse:collapse;
}
#UserStateTH{
	border-bottom: 2px solid black; 
	border-right: 2px solid black; 
	border-collapse:collapse;
}
#inviteTH{
	border-bottom: 2px solid black; 
	border-collapse:collapse;
}

#adminTH{
	border-bottom: 2px solid black;
	border-right: 2px solid black;  
	border-collapse:collapse;
}

#deleteTH {
	text-align: center;
	border-bottom: 2px solid black;
}

#userName {
	border-right: 2px solid black;
}
#userState {
	text-align: center;
	border-right: 2px solid black;
}
#invite {
	text-align: center;
	border-right: 2px solid black;
}

#userAdmin {
	text-align: center;
	border-right: 2px solid black;
}

#userDelete {
	text-align: center;
}

