#winner-page {
	margin: auto;
    padding: 10px;
	text-align: center;
	font-size: 100%;
}

#winnerList {
	font-weight: bold;
	font-size: 110%;
}

#trophy-image {
    display: block;
    margin: auto;
}

#chart {
	width: 60%;
	height: auto;
	float: left;
	display: block;
	margin: 0px;
}

